.win7, .win7 details > summary, .win7 input[type], .win7 textarea, .win7 button, .win7 ul.tree-view {
     font-size:10px !important;
}
 .win7 .horizontal_layout {
     display: flex;
     flex-direction: row;
}
 .win7 .w_100 {
     width: 100%;
}
 .win7 .tarjeta_expandible {
     border: 0px solid #333;
     padding: 0px;
     margin-top: 0px;
     font-size: 10px;
}
 .win7 .boton_lateral {
     width: auto;
     min-width: 20px;
}
 .win7 article[role="tabpanel"] {
     padding: 2px;
}
 .win7 .para_reloj_o_mayor, .win7 .para_movil_o_mayor, .win7 .para_tablet_o_mayor, .win7 .para_pc_o_mayor, .win7 .para_television_o_mayor, .win7 .para_proyector_o_mayor, .win7 .para_reloj_o_menor, .win7 .para_movil_o_menor, .win7 .para_tablet_o_menor, .win7 .para_pc_o_menor, .win7 .para_television_o_menor, .win7 .para_proyector_o_menor, .win7 .solo_para_reloj, .win7 .solo_para_movil, .win7 .solo_para_tablet, .win7 .solo_para_pc, .win7 .solo_para_television, .win7 .solo_para_proyector {
     display: none;
}
 @media (min-width: 0px) and (max-width: 324px) {
     .win7 .solo_para_reloj {
         display: inherit;
    }
}
 @media (min-width: 324px) and (max-width: 576px) {
     .win7 .solo_para_movil {
         display: inherit;
    }
}
 @media (min-width: 576px) and (max-width: 768px) {
     .win7 .solo_para_tablet {
         display: inherit;
    }
}
 @media (min-width: 768px) and (max-width: 992px) {
     .win7 .solo_para_pc {
         display: inherit;
    }
}
 @media (min-width: 992px) and (max-width: 1200px) {
     .win7 .solo_para_television {
         display: inherit;
    }
}
 @media (min-width: 1200px) and (max-width: 1400px) {
     .win7 .solo_para_proyector {
         display: inherit;
    }
}
 @media (max-width: 324px) {
     .win7 .para_reloj_o_menor {
         display: inherit;
    }
}
 @media (max-width: 576px) {
     .win7 .para_movil_o_menor {
         display: inherit;
    }
}
 @media (max-width: 768px) {
     .win7 .para_tablet_o_menor {
         display: inherit;
    }
}
 @media (max-width: 992px) {
     .win7 .para_pc_o_menor {
         display: inherit;
    }
}
 @media (max-width: 1200px) {
     .win7 .para_television_o_menor {
         display: inherit;
    }
}
 @media (max-width: 1400px) {
     .win7 .para_proyector_o_menor {
         display: inherit;
    }
}
 @media (min-width: 0px) {
     .win7 .para_reloj_o_mayor {
         display: inherit;
    }
}
 @media (min-width: 324px) {
     .win7 .para_movil_o_mayor {
         display: inherit;
    }
}
 @media (min-width: 576px) {
     .win7 .para_tablet_o_mayor {
         display: inherit;
    }
}
 @media (min-width: 768px) {
     .win7 .para_pc_o_mayor {
         display: inherit;
    }
}
 @media (min-width: 992px) {
     .win7 .para_television_o_mayor {
         display: inherit;
    }
}
 @media (min-width: 1200px) {
     .win7 .para_proyector_o_mayor {
         display: inherit;
    }
}
 .win7 ul.tree-view.has-container {
     border: 0px solid white !important;
}
 .win7 .boton_minimal {
     white-space:nowrap;
     min-width: 25px;
     width: 100px;
     padding-left: 2px;
     padding-right: 2px;
     width: auto;
}
 .win7 .titulo_de_ventanuco, .win7 .titulo_de_pestanya {
     padding: 5px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 12px;
     background: linear-gradient(90deg,hsla(0,0%,100%,.4),rgba(0,0,0,.1),hsla(0,0%,100%,.2)),linear-gradient(55deg,transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.1) 50%,transparent 53%),#4580c4;
     color: white;
     text-shadow: 0 0 1px white;
     border: 1px solid rgba(0,0,0,.7);
     box-shadow: inset 0 0 .5px .5px #fff;
}
 .win7 .titulo_de_ventanuco {
     padding:1px;
     padding-top:2px;
}
 .win7 ul.tree-view.has-container {
     background: transparent;
}
 .win7 .borde_sin_top {
     border: 1px solid rgba(0,0,0,.7);
     border-top: none;
     box-shadow: inset 0 0 .5px .5px #fff;
}
 .win7 textarea {
     resize: vertical;
}
 .win7 .texto_maquina {
     min-height: 100px;
}
 .win7 .texto_humano {
     min-height: 100px;
}
 .win7 select {
     min-height: 23px;
}
 .win7 .margen_izquierda_item {
     margin-left: 1px;
}
 .win7 details > summary {
     display: block;
     padding: 4px;
     border: none;
     border-bottom: 1px solid rgba(127,127,127,.3);
     box-shadow: inset 0 0 .5px .5px #fff;
     background: linear-gradient(180deg, #eee 45%, #ddd 0, #bbb);
     border: 1px solid #8e8f8f;
     border-radius: 3px;
     box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .8), inset 0 1px 1px #fff;
}
 .win7 details > summary:hover, .win7 details > summary:focus {
     background: linear-gradient(180deg, #e5f4fd 45%, #b3e0f9 0) 
}
 .win7 details[open] > summary {
     background: linear-gradient(180deg, #cee9f8 45%, #86c6e8 0);
}
 .win7 details > div {
     margin-top: 1px;
}
 .win7 ul.tree-view {
     padding: 0;
     padding-left: 12px;
     padding-right: 1px;
     padding-bottom: 1px;
}
 .win7 ul.tree-view li {
     margin-top: 0px;
     padding-top: 1px;
}
 .win7 .subtitulo_de_documento, .win7 ul.tree-view li.subtitulo_de_documento {
     border-bottom: 1px solid #AAA;
     padding-top: 6px;
     padding-bottom: 2px;
}
.win7 .texto_como_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.win7 .texto_como_link:hover {
    color: rgb(110, 110, 213);
}
.win7 .texto_de_objeto_1 {
    text-transform: uppercase;
    color: #333;
}
.win7 .texto_de_objeto_2 {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

.win7 .texto_de_objeto_2 {}
.win7 .texto_de_objeto_3 {
    display: none;
}
.win7 .texto_de_objeto_4 {
    color: #0F0;
    background-color: #333;
    font-weight: bold;
    text-decoration: underline;
}


